/* Navbar styling */
.navbar {
  background-color: var(--red);
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  color: var(--white);
  text-decoration: none;
}

.navbar a {
  display: block;
  padding: 16px;
  text-decoration: none;
  color: var(--white);
}

.navbar a:hover {
  background-color: var(--dark-gray);
  border-radius: 4px;
}

.logo {
  max-width: auto;
  max-height: 32px;
  padding-left: 16px;
}

.subnav {
  float: right;
  position: relative;
}

.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: var(--white);
  padding: 16px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.subnav:hover .subnavbtn {
  background-color: var(--dark-gray);
}

.subnav-content {
  display: none;
  position: absolute;
  border-radius: 4px;
  top: 100%;
  right: 0;
  background-color: var(--dark-gray);
  z-index: 1;
}

.subnav-content a {
  display: block;
  border-radius: 4px;
  padding: 8px;
  color: var(--white);
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: var(--gray);
  color: var(--black);
}

.subnav:hover .subnav-content {
  display: block;
}

/* Items dealing with the settings page */
.settings-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.settings-title {
  color: var(--black);
  margin-bottom: 30px;
}

.settings-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.settings-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: var(--light-gray);
  border-radius: 8px;
}

.settings-option:hover {
  background-color: var(--gray);
}

.settings-option p {
  margin-top: 16px;
  font-size: 16px;
  font-weight: bold;
}

.icon {
  width: 60px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* Blank card that can act as a container */
.box-card {
  border-radius: 8px;
  padding: 0px;
  padding-bottom: 16px;
  margin-top: 32px;
  margin-right: 32px;
  margin-left: 32px;
}

/* Items for displaying a list on a card view */
.divider {
  height: 1px;
  background-color: var(--light-gray);
  margin: 10px 0;
}

.card {
  border-radius: 8px;
  padding: 16px;
  padding-bottom: 16px;
  margin-top: 32px;
  margin-right: 32px;
  margin-left: 32px;
  margin-bottom: 32px;
  background-color: var(--white);
  border: 1px solid var(--light-gray);
}

.card-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.card-item {
  display: flex;
  justify-content: left;
  align-items: center;
}

.card-text {
  font-size: 16px;
  margin-left: 16px;
  margin-right: 16px;
}

.card-header-text {
  padding-left: 32px;
  font-size: 24px;
  color: var(--dark-gray);
}

.card-inside-header-text {
  font-size: 24px;
  color: var(--dark-gray);
}

.card-title-text {
  font-size: 20px;
  color: var(--dark-gray);
}

.card-right-text {
  margin-left: auto;
  margin-right: 32px;
  font-size: 18px;
}

.card-button {
  margin-left: auto;
}

.card-button>Button {
  font-size: 14px;
  margin-right: 16px;
  margin-left: 16px;
}

.calendar {
  margin-left: 16px;
  margin-right: 16px;
  width: auto;
  height: auto;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  color: var(--black);
  font-size: 14px;
  padding-bottom: 16px;
  max-width: auto;
  max-height: auto;
}

.card-columns {
  display: flex;
  justify-content: space-between;
}

.card-column {
  flex: 1;
  margin: 0 0px;
}

.social-links a {
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
  color: #007bff;
}

.social-links a:hover {
  text-decoration: underline;
}

/* Timer related items */
.timer-card {
  border-radius: 8px;
  padding: 16px;
  padding-bottom: 16px;
  margin-top: 32px;
  margin-right: 32px;
  margin-left: 32px;
  margin-bottom: 32px;
  background-color: var(--khaki);
}

.timer {
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  place-items: center;
  width: 100%;
  gap: 20px;
}

.timer__circle {
  width: 300px;
  height: 300px;
  position: relative;
  border-radius: 50%;
  background-color: var(--white);
  border: 1px solid var(--light-gray);
  overflow: hidden;
  justify-self: center;
}

.timer__svg {
  width: 100%;
  height: 100%;
  justify-self: center;
}

.timer__circle-track {
  fill: none;
  stroke: var(--white);
  stroke-width: 8;
}

.timer__path-elapsed {
  fill: none;
  stroke: var(--red);
  stroke-width: 8;
  stroke-linecap: round;
  stroke-dashoffset: 0;
  stroke-dasharray: 0 283;
  transform: rotate(-90deg);
  transform-origin: center;
}

.timer__circle-progress {
  fill: none;
  stroke: var(--red);
  stroke-width: 8;
}

.timer__path-remaining {
  fill: none;
  stroke: var(--red);
  stroke-width: 8;
  stroke-linecap: round;
  stroke-dasharray: 282.7433388230589;
  stroke-dashoffset: 282.7433388230589;
  transform: rotate(-90deg);
  transform-origin: center;
  transition: stroke-dashoffset 1s linear;
}

.timer__label {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row: 2;
}

.timer__time {
  font-size: 48px;
  font-weight: bold;
  color: var(--red);
  line-height: 1;
  grid-row: 3;
}

.timer__progress {
  font-size: 24px;
  font-weight: bold;
  color: var(--white);
  line-height: 1;
}

.timer__settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.timer__settings input {
  width: 50px;
  height: 50px;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.timer__text {
  fill: var(--red);
  font-size: 4px;
  font-family: 'Arial', sans-serif;
  text-anchor: middle;
  transform: translateY(0.3em);
}

@media (max-width: 768px) {
  .timer {
    width: 50%;
  }
}

.posted-status {
  margin-top: 20px;
  width: max-content;
  padding: 10px;
  background-color: var(--khaki);
  border-radius: 4px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.card-span-2 {
  flex: 2; 
}

.card-span-3 {
  flex: 3; 
}

.card-span-4 {
  flex: 4; 
}

.profile-content-container {
  display: flex;
  align-items: center; 
  gap: 16px; 
}

.profile-picture-page {
  position: relative;
  flex-shrink: 0; 
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-picture-page img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover; 
}

.edit-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  text-align: center;
  padding: 10px 0;
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
  border-radius: 0 0 50% 50%;
}

.profile-picture-page:hover .edit-overlay {
  opacity: 1;
}

.profile-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
}


.profile-text-container h1, .profile-text-container p {
  margin: 0;
}

.tab-button {
  padding: 8px 16px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  margin-right: 4px;
}

.active {
  border-bottom: 2px solid var(--dark-gray);
  font-weight: bold;
}


.card-content {
  padding: 16px;
}