/* Navbar styling */
.navbar {
  background-color: var(--red);
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  color: var(--white);
  text-decoration: none;
}

.navbar a {
  display: block;
  padding: 16px;
  text-decoration: none;
  color: var(--white);
}

.navbar a:hover {
  background-color: var(--gray);
  border-radius: 4px;
}

.logo {
  max-width: auto;
  max-height: 32px;
  padding-left: 16px;
}

.subnav {
  float: right;
  position: relative;
}

.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: var(--black);
  padding: 16px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.subnav:hover .subnavbtn {
  background-color: var(--gray);
}

.subnav-content {
  display: none;
  position: absolute;
  border-radius: 4px;
  top: 100%;
  right: 0;
  background-color: var(--white);
  border: 1px solid var(--light-gray);
  z-index: 1;
}

.subnav-content a {
  display: block;
  border-radius: 4px;
  padding: 8px;
  color: var(--black);
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: var(--gray);
  color: var(--black);
}

.subnav:hover .subnav-content {
  display: block;
}

/* Items dealing with the settings page */
.settings-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.settings-title {
  color: var(--black);
  margin-bottom: 30px;
}

.settings-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.settings-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: var(--light-gray);
  border-radius: 8px;
}

.settings-option:hover {
  background-color: var(--gray);
}

.settings-option p {
  margin-top: 16px;
  font-size: 16px;
  font-weight: bold;
}

.icon {
  width: 60px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* Blank card that can act as a container */
.box-card {
  border-radius: 8px;
  padding: 0px;
  padding-bottom: 16px;
  margin-top: 32px;
  margin-right: 32px;
  margin-left: 32px;
}

.drawer-header {
  text-align: center;
}

.form-row {
  display: flex;
  justify-content: left;
  align-items: center;
}

.first-item-row {
  font-size: 16px;
  margin-left: 16px;
  margin-right: 16px;
}

.card-button {
  margin-left: auto;
}

.card-button>Button {
  font-size: 14px;
  margin-right: 16px;
  margin-left: 16px;
}

.calendar {
  margin-left: 16px;
  margin-right: 16px;
  width: auto;
  height: auto;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  color: var(--black);
  font-size: 14px;
  padding-bottom: 16px;
  max-width: auto;
  max-height: auto;
}

.social-links a {
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
  color: #007bff;
}

.social-links a:hover {
  text-decoration: underline;
}

.posted-status {
  margin-top: 20px;
  width: max-content;
  padding: 10px;
  background-color: var(--khaki);
  border-radius: 4px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.card-span-2 {
  flex: 2;
}

.card-span-3 {
  flex: 3;
}

.card-span-4 {
  flex: 4;
}

.profile-content-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.profile-picture-page {
  position: relative;
  flex-shrink: 0;
  width: 256px;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
}

.profile-picture-page img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.edit-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  text-align: center;
  padding: 10px 0;
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
  border-radius: 0 0 50% 50%;
}

.profile-picture-page:hover .edit-overlay {
  opacity: 1;
}

.profile-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.profile-text-container h1,
.profile-text-container p {
  margin: 0;
}

.tab-button {
  padding: 8px 16px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  margin-right: 4px;
}

.active {
  border-bottom: 2px solid var(--dark-gray);
  font-weight: bold;
}

.card-content {
  padding: 16px;
}

.footer {
  position: fixed;
  right: 16px;
  bottom: 16px;
  display: flex;
  justify-content: flex-end;
}

.navbar .nav-icon {
  width: 24px;
  height: 24px;
  fill: var(--white);
}

.active-icon .nav-icon {
  fill: var(--black);
}

.navbar .cracker {
  fill: var(--white);
}

.logo-resize {
  width: 150px;
  height: auto;
  padding-left: 16px;
}

.react-datepicker {
  border: 1px solid var(--dark-gray);
  border-radius: 4px;
  padding: 4px;
  font-size: 1rem;
  line-height: 1.5;
  width: 100%;
  box-sizing: border-box;
}

.react-datepicker__input-container {
  display: flex;
  align-items: center;
  height: 36px;
}

.react-datepicker__input-container input {
  border: 1px solid var(--gray);
  border-radius: 4px;
  background: none;
  flex: 1;
  padding: 8px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
  box-shadow: none;
  outline: none;

  &::placeholder {
    color: #999;
  }
}

.react-datepicker__input-container input:hover {
  border: 1px solid var(--dark-gray);
}

.react-datepicker__input-container input:disabled {
  border: 1px solid var(--light-gray);
  color: var(--light-gray);
}

.social-icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.social-links-container {
  display: flex;
  justify-content: center;
  margin-right: auto;
  gap: 10px;
  margin-top: 10px;
}

.friend-status-card {
  background-color: var(--khaki); 
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 4px;
}

.friend-status-name {
  font-weight: bold;
}

.friend-status-message {
  margin-top: 4px;
  margin-bottom: 4px;
}

.friend-status-timestamp {
  text-align: right;
  font-size: 0.8em;
}