/* Define custom colors here */
:root {
  --red: #fc2929;
  --dark-red: #d62311;
  --khaki: #f2ddbb;
  --white: #ffffff;
  --light-gray: #e4e3e3;
  --gray: #acabab;
  --dark-gray: #403c3c;
  --black: #212121;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}